.skip-link {
  display: inline-block;
  padding: 0.7rem 1rem 0.5rem 1rem;
  background: var(--color-primary-90);
  color: var(--color-primary-10);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1;

  &:hover {
    background: var(--color-primary-10);
    color: var(--color-primary-90);
  }
}

.btn {
  border: 1px solid white;
  background: transparent;
  color: currentColor;
  display: inline-flex;
  align-items: center;
  font-size: var(--font-size--1);
  padding: var(--space-2xs) var(--space-s);
  border-radius: var(--border-radius);
  gap: var(--space-3xs);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--color-primary);

  // &.primary {
  //   &:hover {
  //   }
  // }

  &-secondary {
    border: 1px solid var(--color-accent-60);
  }

  &-header {
    border: 1px solid var(--color-primary-90);

    svg {
      fill: currentColor;
    }

    &:hover {
      background-color: var(--color-primary-90);
      color: var(--color-primary-10);
      // color: transparent;
    }
  }

  svg {
    // height: 1em;
    // width: 1em;
    // border: 1px solid green;
  }
}
