.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.region {
  padding-block: var(--region-space, var(--space-l-2xl));
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.not\:focus\:visually-hidden {
  &:not(:focus) {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
}

.flex {
  display: flex;

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.items-center {
    align-items: center;
  }

  &-center {
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: var(--space-3xs);
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gutter, var(--space-s-l));

  &[data-layout='3'] {
    grid-template-columns: repeat(3, 1fr);
  }
}

// .place-items-center {
//   place-items: center;
// }

.h-screen {
  min-height: 100vh;
}

.h-6 {
  height: 1.5em;
}

.w-6 {
  width: 1.5em;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  // display: none;
}

// .wr-6 {
//   width: 1.5rem;
// }

// .hr-6 {
//   height: 1.5rem;
// }

// .container {
//   max-width: 70rem;
//   // padding: 0 1.33rem;
//   margin-inline: auto;
//   // margin-right: auto;
//   // position: relative;
// }

.full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);

  & > * {
    max-width: var(--fluid-max-width);
    margin-inline: auto;
  }

  p {
    max-width: 70ch;
  }
}

.b-red {
  border: 2px solid red;
}

.b-pink {
  border: 2px solid pink;
}

.b-green {
  border: 2px solid green;
}

.b-blue {
  border: 2px solid blue;
}

.btn {
  border: 1px solid white;
  background: transparent;
  color: currentColor;
  display: inline-flex;
  align-items: center;
  font-size: var(--font-size--1);
  padding: var(--space-2xs) var(--space-s);
  border-radius: var(--border-radius);
  gap: var(--space-3xs);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--color-primary);

  // &.primary {
  //   &:hover {
  //   }
  // }

  &-header {
    border: 1px solid var(--color-on-primary);

    svg {
      fill: currentColor;
    }

    &:hover {
      background-color: var(--color-primary-container);
      color: var(--color-on-primary-container);
      // color: transparent;
    }
  }

  svg {
    // height: 1em;
    // width: 1em;
    // border: 1px solid green;
  }
}
