.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.region {
  padding-block: var(--region-space, var(--space-l-2xl));
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.not\:focus\:visually-hidden {
  &:not(:focus) {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
}

.flex {
  display: flex;

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.items-center {
    align-items: center;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gutter, var(--space-s-l));

  &[data-layout='3'] {
    grid-template-columns: repeat(3, 1fr);
  }
}

// .place-items-center {
//   place-items: center;
// }

.h-screen {
  min-height: 100vh;
}

// .wr-6 {
//   width: 1.5rem;
// }

// .hr-6 {
//   height: 1.5rem;
// }

// .container {
//   max-width: 70rem;
//   // padding: 0 1.33rem;
//   margin-inline: auto;
//   // margin-right: auto;
//   // position: relative;
// }

.full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);

  & > * {
    max-width: var(--fluid-max-width);
    margin-inline: auto;
  }
}

.b-red {
  border: 2px solid red;
}

.b-pink {
  border: 2px solid pink;
}

.b-green {
  border: 2px solid green;
}

.b-blue {
  border: 2px solid blue;
}
