.flow > * + * {
  margin-top: var(--flow-space, 2em);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.grid {
  display: grid;
}

.place-items-center {
  place-items: center;
}

.h-screen {
  min-height: 100vh;
}
