/***********SKIPO LINK ***********/

.skip-link {
  display: inline-block;
  padding: 0.7rem 1rem 0.5rem 1rem;
  background: var(--color-primary-90);
  color: var(--color-primary-10);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;

  &:hover {
    background: var(--color-primary-10);
    color: var(--color-primary-90);
  }
}

.hero {
  background-image: url(/images/home-page-hero.jpg);
  color: var(--color-primary-99);
  padding: var(--space-l) var(--space-l);
  --flow-space: 3rem;

  .panorama {
    text-transform: uppercase;
    font-size: var(--font-size--1);
    letter-spacing: 0.3rem;
    color: var(--color-accent-70);
    font-weight: bold;
  }

  h1 {
    margin-block-start: 0.3rem;
  }

  p {
    // color: white;
  }

  a {
    // display: inline-block;
  }
}
