header {
  position: sticky;
  top: 0;

  &[data-mobilenav='true'] {
    .site-header {
      .nav-wrapper {
        .top {
          .branding {
            margin-inline-start: var(--space-xl);
          }

          .customer {
            svg {
              color: var(--color-primary-99, #fff);
              height: 1.5em;
            }
          }
        }
      }
    }
  }

  &[data-route='index'][data-scroll='true'] {
    background-color: var(--color-primary-10);
    min-height: calc(var(--hero-top-padding, 8rem) + 1.5rem);
  }
  // // border: 1px solid red;

  &[data-route='index'] {
    .site-header {
      .nav-wrapper {
        background-color: transparent;
        .bottom {
          nav {
            background-color: transparent;
          }
        }
      }
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      // background-color: red;
    }
  }

  .site-header {
    //   // background-color: var(--color-primary-10);
    //   // padding: var(--space-l);
    //   // padding-block-end: 0;

    .nav-wrapper {
      color: var(--color-primary-99);
      background-color: var(--color-primary-10);
      --flow-space: var(--space-xs);
      //     position: relative;
      //     // border: 1px solid green;

      .top {
        &__inner {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-block: var(--space-s);
        }
        //       // border: 1px solid red;
        //       background-color: var(--color-primary-10);

        .branding {
          img {
            width: auto;
            height: 1.5em;
            font-size: var(--font-size-0);
            transition: all var(--transition-fade);
          }
        }
        .customer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: var(--space-xs);

          input {
            display: none;
          }

          svg {
            color: var(--color-secondary-70, #ccc);
            height: 1.5em;
          }
        }
      }

      .bottom {
        // margin-top: var(--space-s);

        nav {
          padding-block: 0;
          background-color: var(--color-neutral-10);

          ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            // padding-block: var(--space-s);
            // border: 1px solid red;
            margin: 0 auto;
            // border: 1px solid red;

            li {
              flex: 1;
              min-width: 6rem;

              &:not(:last-of-type) {
                border-inline-end: 1px solid var(--color-neutral-60);
              }
            }

            a {
              font-weight: var(--font-bold);
              letter-spacing: var(--tracking-3, 0);
              color: var(--color-primary-99);
              // border: 1px solid red;
              text-transform: uppercase;
              text-decoration: none;
              padding-block: var(--space-4xs);
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: var(--font-size--1);
              padding: var(--space-xs, 1rem);

              &:hover {
                background-color: var(--color-primary-90);
                color: var(--color-primary-10);
              }
            }
          }
        }

        .burger-toggle {
          position: relative;
          border: none;
          background: none;
          // display: none;
          cursor: pointer;

          .burger-bar::before,
          .burger-bar::after {
            content: '';
            position: absolute;
          }

          .burger-bar,
          .burger-bar::before,
          .burger-bar::after {
            display: block;
            width: 30px;
            height: 3px;
            background: white;
            transition: transform 250ms ease-in-out;
          }

          .burger-bar::before {
            top: 8px;
          }

          .burger-bar::after {
            bottom: 8px;
          }

          &[data-enabled] {
            position: absolute;
            top: 1.1rem;
            left: 0.6rem;
            display: block;
            z-index: 1;
            height: 2.25rem;
          }

          &[data-enabled='false'] {
            visibility: hidden;
            opacity: 0;
            position: absolute;
          }

          &[data-enabled='true'] {
            visibility: visible;
            opacity: 1;
          }

          &[data-enabled='true'][aria-expanded='true'] {
            left: 90%;
            & .burger-bar {
              background: transparent;
              border-color: transparent;
              transform: rotate(180deg);
            }

            & .burger-bar:before {
              transform: translateY(-8px) rotate(135deg);
            }

            & .burger-bar:after {
              transform: translateY(8px) rotate(45deg);
            }
          }
          &[data-enabled='true'] + nav {
            position: fixed;
            visibility: hidden;
            opacity: 0;
          }

          &[data-enabled='true'][aria-expanded='true'] + nav {
            visibility: visible;
            opacity: 1;
            top: 0;
            left: 0;
            width: 100%;
            background-color: var(--color-neutral-10);

            ul {
              background-color: inherit;
              flex-direction: column;
              padding: var(--space-3xl) var(--space-l);
              align-items: stretch;
              // align-items: stretch;

              li {
                border-inline: none;
                &:not(:last-of-type) {
                  // border-block-end: 1px solid var(--color-neutral-30);
                }

                a {
                  padding-block: var(--space-2xs);
                  justify-content: flex-start;
                  padding-inline-start: var(--space-s);
                }
              }
            }
          }
        }
      }
    }
  }

  .burger-toggle-enter-active,
  .burger-toggle-leave-active {
    transition: all 250ms ease-in-out;
  }

  .burger-toggle-enter-from,
  .burger-toggle-leave-to {
    opacity: 0;
    transform: translateX(-10rem);
  }

  .burger-toggle-enter-to,
  .burger-toggle-leave-from {
    opacity: 1;
    transform: translateX(0);
  }

  .site-nav-enter-active,
  .site-nav-leave-active {
    transition: all 500ms ease-in-out;
  }

  .site-nav-enter-from,
  .site-nav-leave-to {
    opacity: 0;
    transform: translateY(-10rem);
  }

  .site-nav-enter-to,
  .site-nav-leave-from {
    opacity: 1;
    transform: translateY(0);
  }

  // &.sticky {
  //   background-color: var(--color-primary-10);
  //   padding-block-start: var(--space-s);
  //   box-shadow: 12px 12px 2px 1px rgba(black, 0.2);
  //   // margin-inline: 0;

  //   > * {
  //     max-width: unset;
  //     margin-inline: 0;
  //   }
  //   .header {
  //     &.home {
  //     }
  //   }
  // }

  //   &.home {
  //     background: none;
  //     padding-block-start: 0;
  //     // border-block-end: 1px solid red;

  //     .bottom {
  //       background: none;
  //     }
  //   }

  //   &.home[data-sticky='true'] {
  //     background-color: var(--color-primary-10);
  //     padding-block-start: var(--space-s);
  //   }

  //

  //

  //     .bottom {
  //       margin-top: 0;
  //     }

  //     .burger-toggle {
  //       &[data-enabled] {
  //         position: absolute;
  //         top: 0.2rem;
  //         left: 0.1rem;
  //         display: block;
  //         z-index: 1;
  //         height: 2.25rem;
  //       }

  //       &[data-enabled='false'] {
  //         visibility: hidden;
  //         opacity: 0;
  //         position: absolute;
  //       }

  //       &[data-enabled='true'] {
  //         visibility: visible;
  //         opacity: 1;
  //       }

  //       &[data-enabled='true'][aria-expanded='true'] {
  //         left: 95%;
  //         & .burger-bar {
  //           background: transparent;
  //           border-color: transparent;
  //           transform: rotate(180deg);
  //         }

  //         & .burger-bar:before {
  //           transform: translateY(-8px) rotate(135deg);
  //         }

  //         & .burger-bar:after {
  //           transform: translateY(8px) rotate(45deg);
  //         }
  //       }
  //       &[data-enabled='true'] + nav {
  //         position: fixed;
  //         visibility: hidden;
  //         opacity: 0;
  //       }

  //       &[data-enabled='true'][aria-expanded='true'] + nav {
  //         visibility: visible;
  //         opacity: 1;
  //         top: 0;
  //         left: 0;
  //         width: 100%;
  //         background: inherit;

  //         ul {
  //           background-color: inherit;
  //           flex-direction: column;
  //           padding: var(--space-3xl) var(--space-l);
  //           align-items: stretch;
  //           // align-items: stretch;

  //           li {
  //             border-inline: none;
  //             &:not(:last-of-type) {
  //               border-block-end: 1px solid var(--color-neutral-30);
  //             }

  //             a {
  //               padding-block: var(--space-2xs);
  //               justify-content: flex-start;
  //               padding-inline-start: var(--space-s);
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}
