:root {
  /* --type-scale-minor-second: 1.067;
  --type-scale-major-third: 1.125;
  --type-scale-minor-third: 1.2;
  --type-scale-major-third: 1.25;
  --type-scale-perfect-fourth: 1.333;
  --type-scale-Augmented-fourth: 1.414;
  --type-scale-perfect-fifth: 1.5;
  --type-scale-golden-ratio: 1.618;
  --type-scale-major-sixth: 1.667;
  --type-scale-minor-seventh: 1.778;
  --type-scale-major-seventh: 1.875;
  --type-scale-octave: 2; */

  --font-base: 1rem;
  --font-min-size: 18;
  --font-max-size: 20;
  --type-scale-sm: var(--type-scale-minor-third);
  --type-scale-lg: var(--type-scale-Augmented-fourth);
  --fluid-min-width: 320;
  --fluid-max-width: 1240;

  /* @each $val, $i in -0.27141077, -0.09301396, 0.217391304, 0.726086957,
    1.529121739, 2.765099878, 4.633357315, 7.419774547
  {
    --v-$(i): $val;
  }

  @each $val, $i in 0.835532154, 0.956102792, 1.081521739, 1.204782609,
    1.314175652, 1.390980024, 1.406128537, 1.315405091
  {
    --r-$(i): $val;
  }

  @each $i in 0, 1, 2, 3, 4, 5, 6, 7, 8 {
    --step-$(i): clamp()$val;
  } */

  /* --step-5-min: calc(
    var(--font-min-size) * var(--type-scale-sm) * var(--type-scale-sm) *
      var(--type-scale-sm) * var(--type-scale-sm) * var(--type-scale-sm)
  );

  --step-5-max: calc(
    var(--font-max-size) * var(--type-scale-lg) * var(--type-scale-lg) *
      var(--type-scale-lg) * var(--type-scale-lg) * var(--type-scale-lg)
  ); */

  /* --vw: calc(
    100 *
      (
        (var(--step-5-max) - var(--step-5-min)) /
          (var(--fluid-max-width) - var(--fluid-min-width))
      )
  ); */

  /* --r: calc(
    (
        var(--step-5-min) * var(--fluid-max-width) - var(--step-5-max) *
          var(--fluid-min-width)
      ) / (var(--fluid-max-width) - var(--fluid-min-width))
  ); */

  --step-5: clamp(
    calc(
      (
          var(--font-min-size) * var(--type-scale-sm) * var(--type-scale-sm) *
            var(--type-scale-sm) * var(--type-scale-sm) * var(--type-scale-sm)
        ) * (1 / 16) * 1rem
    ),
    calc(
      100 *
        (
          (
              (
                  var(--font-max-size) * var(--type-scale-lg) *
                    var(--type-scale-lg) * var(--type-scale-lg) *
                    var(--type-scale-lg) * var(--type-scale-lg)
                ) -
                (
                  var(--font-min-size) * var(--type-scale-sm) *
                    var(--type-scale-sm) * var(--type-scale-sm) *
                    var(--type-scale-sm) * var(--type-scale-sm)
                )
            ) / (var(--fluid-max-width) - var(--fluid-min-width))
        ) * 1vw +
        (
          (
              var(--font-min-size) * var(--type-scale-sm) * var(--type-scale-sm) *
                var(--type-scale-sm) * var(--type-scale-sm) *
                var(--type-scale-sm)
            ) * var(--fluid-max-width) -
            (
              var(--font-max-size) * var(--type-scale-lg) * var(--type-scale-lg) *
                var(--type-scale-lg) * var(--type-scale-lg) *
                var(--type-scale-lg)
            ) * var(--fluid-min-width)
        ) / (var(--fluid-max-width) - var(--fluid-min-width)) * (1 / 16) * 1rem
    ),
    calc(
      (
          var(--font-max-size) * var(--type-scale-lg) * var(--type-scale-lg) *
            var(--type-scale-lg) * var(--type-scale-lg) * var(--type-scale-lg)
        ) * (1 / 16) * 1rem
    )
  );
}

h1 {
  font-size: var(--step-4);
}
