:root {
  --color-light: #ffffff;
  --color-light-shade: #fafffd;
  --color-dark: #062726;
  --color-primary: #d81159;
  --color-primary-shade: #b90f4c;
  --nav-breakpoint: 40;
  --header-block-border-size: 5px;
  --menu-bar-top: 20;
  /* --menu-bar-block-padding: 0.9rem; */
}

/* @custom-media --viewport-medium (width >= 40rem); */

body {
  background: var(--color-light-shade);
  color: var(--color-dark);
  line-height: 1.5;
  font-family: 'Hind', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
}

h1,
h2 {
  font-family: 'Halant', Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  line-height: 1.1;
  max-width: 25ch;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

a {
  color: currentColor;
}

:focus {
  outline: 1px dotted currentColor;
  outline-offset: 0.2rem;
}

p,
li,
dl {
  max-width: 70ch;
}

article {
  margin-top: 2.5rem;
  font-size: 1.25rem;
}

main:focus {
  outline: none;
}

@media (min-width: 40em) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}

/* Utilities */

.skip-link {
  display: inline-block;
  padding: 0.7rem 1rem 0.5rem 1rem;
  background: var(--color-light);
  color: var(--color-primary-shade);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.skip-link:hover {
  background: var(--color-dark);
  color: var(--color-light-shade);
}

/* Visually Hidden */
.skip-link:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.wrapper {
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  /* border: 1px solid red; */
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* Blocks */

.header {
  padding: 0.6rem 0;
  background: var(--color-primary);
  border-top: var(--header-block-border-size) solid var(--color-primary);
  border-bottom: var(--header-block-border-size) solid
    var(--color-primary-shade);
  color: var(--color-light);
  line-height: 1.1;
}

.header :focus {
  outline-color: var(--color-light);
}

.header-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
}

.branding {
  display: block;
  width: 3rem;
}

.navigation {
  & ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.3rem 0.9rem;
    padding: 0;
  }

  & li {
    margin: 0.1rem;
  }

  & a {
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: currentColor;

    &:hover {
      color: var(--color-dark);
    }
  }
}

/* @media (--viewport-medium) {
    border: 1px solid purple;

    display: block;
  } */
/* } */
/* } */

/* .nav-menu[data-navmenu='true'] {
  & .navigation {
    display: none;
  }
}

.nav-menu[data-navmenu='false'] {
  & .burger-menu {
    display: none;
  }
} */

/* .navigation[data-mobile='true'] {
  display: block;
} */

/* .nav-menu[data-navmenu='true'] {
  & .navigation[data-mobile='true'] {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
} */

.burger-menu {
  position: relative;
  border: none;
  background: none;
  display: none;
  cursor: pointer;

  & .burger-menu-bar::before,
  & .burger-menu-bar::after {
    content: '';
    position: absolute;
  }

  & .burger-menu-bar,
  & .burger-menu-bar::before,
  & .burger-menu-bar::after {
    display: block;
    width: 24px;
    height: 3px;
    background: var(--color-light);
    transition: transform 350ms ease-in-out;
  }

  & .burger-menu-bar::before {
    top: 6px;
  }

  & .burger-menu-bar::after {
    bottom: 6px;
    /* position: absolute; */
  }
  /* border: 1px solid var(--color-light); */
  /* position: absolute; */
  /* border-radius: 3px; */
  /* left: 50%; */
  /* margin-left: -12px; */
  /* transition: transform 350ms ease-in-out; */

  /* transform: translateY(-50%); */
}

/* .burger-menu[data-enabled='false'] {
  visibility: hidden;
  opacity: 0;
  position: absolute;
} */

.burger-menu[data-enabled] {
  display: block;
  /* display: grid;
  place-items: center; */
  height: 2rem;
  /* border: 1px solid green; */
}

.burger-menu[data-enabled='false'] {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.burger-menu[data-enabled='true'] {
  visibility: visible;
  opacity: 1;
}

.burger-menu[data-enabled='true'] + .navigation {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  /* display: none; */
}

.burger-menu[data-enabled='true'][aria-expanded='true'] {
  & .burger-menu-bar {
    background: transparent;
    border-color: transparent;
    /* transform: rotate(180deg); */
  }

  & .burger-menu-bar:before {
    top: 15px;
    transform: rotate(135deg);
  }

  & .burger-menu-bar:after {
    top: 15px;
    transform: rotate(45deg);
  }
  /* display: none; */
}

.burger-menu[data-enabled='true'][aria-expanded='true'] + .navigation {
  visibility: visible;
  opacity: 1;
  /* inset: 0; */
  /* border: 1px solid black; */
  /* top: 5.1rem; */
  top: calc(var(--menu-bar-top) * 1px - var(--header-block-border-size));
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-primary);

  & ul {
    flex-direction: column;
    /* z-index: 10; */
    /* position: absolute; */
    /* display: none; */
    /* top: 20%; */
  }
}

/* .burger-menu-bar { */
/* top: 50%; */
/* transform: translateY(-50%); */
/* } */

/* & .burger-menu-bar::before,
  & .burger-menu-bar::after {
    content: '';
  }

 

/* @media (--viewport-medium) {
    border: 1px solid purple;

    display: none;
  } */
/* } */
