/* General presentation styles */

html {
  background: #212d40;
}

body,
.button,
.link-button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
  padding: 1.5rem;
  line-height: 1.4;
  color: #f3f3f3;
}

p {
  margin: 0;
}

article > * + * {
  margin-top: 1.5em;
}

hr {
  border: none;
  border-top: 1px dashed #ccc;
  margin: 1.5rem 0;
}

a:not([class]) {
  color: currentcolor;
}

a:not([class]):hover,
a:not([class]):focus {
  text-decoration: none;
}

.container {
  max-width: 30rem;
  margin: 0 auto;
}

.terms {
  --flow-space: 2rem;
}

/*

/* Flow utility, which I write about here: https://24ways.org/2018/managing-flow-and-rhythm-with-css-custom-properties/ */
/* .flow {
  --flow-space: 1em;
}

.flow > * + * {
  margin-top: var(--flow-space);
} */

/* Button component */
.button {
  display: inline-block;
  border: none;
  padding: 0.6rem 1.2rem 0.8rem 1.2rem;
  text-decoration: none;
  background: #98b06f;
  color: #212d40;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button:hover,
.button:focus {
  background: #ffffff;
}

.button:focus {
  outline: 1px solid #212d40;
  outline-offset: -4px;
}

.button:active {
  transform: scale(0.99);
}

/* Link button component */

.link-button {
  display: none;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  color: #98b06f;
  font-size: 1rem;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* When the link-button has a correct aria attribute, we can show it */
.link-button[aria-expanded] {
  display: inline-flex;
  align-items: center;
}

.link-button svg {
  opacity: 0.8;
  margin-left: 0.5rem;
  transition: all 250ms ease-in-out;
  font-size: 0.8rem;
}

.link-button[aria-expanded='true'] svg {
  transform: rotate(-180deg);
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}

.link-button:focus {
  text-decoration: none;
  outline: 1px solid rgba(255, 255, 255, 0.4);
  outline-offset: 3rem;
}

.link-button:active {
  transform: scale(0.99);
}

/* Panel component which is completely controlled by a valid sibling 
   button element, such as the link button. We only conceal the content 
   if its sibling button has the correct aria attribute, so we can enforce
   accessibility and progressively enhance the UI */
[aria-expanded] + .panel {
  --panel-max-height: 500px;

  transition: all 200ms ease;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 0;
  visibility: hidden;
  -webkit-overflow-scrolling: touch;
  color: red;
  border: 2px solid pink;
}

[aria-expanded] + .panel .panel__inner {
  transition: all 500ms ease;
  transition-delay: 50ms;
  opacity: 0;
  transform: translateY(1rem);
  padding-top: 1.5rem;
  color: green;
}

[aria-expanded='true'] + .panel {
  max-height: var(--panel-max-height);
  visibility: visible;
}

[aria-expanded='true'] + .panel .panel__inner {
  opacity: 1;
  transform: translateY(0);
}

.fancy-link {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: white;
}

.fancy-link--large {
  font-size: 2.5rem;
}

.fancy-link__icon {
  /* font-size: 1em; */
}

.icon {
  width: 1em;
  height: 1em;
}

.profile {
  font-size: 3rem;
  display: flex;
  align-items: center;
}

.profile--large {
  font-size: 5rem;
}

.profile > * + * {
  margin-left: 0.5em;
}

.profile__heading {
  font-size: 0.5em;
  line-height: 1.1;
}

.profile__image {
  width: 1.5em;
  height: 1.5em;
  object-fit: cover;
  border-radius: 999px;
  flex-shrink: 0;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

/* Presentational styles */
.user {
  max-width: 75ch;
}

.user > * + * {
  margin-top: 1em;
}

body {
  background: #f9f9f9;
  color: #17717a;
  padding: 1rem;
  line-height: 1.4;
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

hr {
  margin: 2rem 0;
  border: none;
  border-top: 1px solid #ccc;
}
